<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab_Manual"
        tools:targetApi="31">
        <activity
            android:name=".pr_13_2"
            android:exported="false" />
        <activity
            android:name=".pr_12"
            android:exported="false" />
        <activity
            android:name=".pr_13_1"
            android:exported="false" />
        <activity
            android:name=".pr_10_2"
            android:exported="false" />
        <activity
            android:name=".pr_11"
            android:exported="false" />
        <activity
            android:name=".pr_9_2"
            android:exported="false" />
        <activity
            android:name=".pr_10_1"
            android:exported="false" />
        <activity
            android:name=".pr_9_1"
            android:exported="false" />
        <activity
            android:name=".pr_8_1"
            android:exported="false" />
        <activity
            android:name=".pr_7_2"
            android:exported="false" />
        <activity
            android:name=".pr_7_1"
            android:exported="false" />
        <activity
            android:name=".Frame_Layout"
            android:exported="false" />
        <activity
            android:name=".Table_Layout"
            android:exported="false" />
        <activity
            android:name=".Absolute_layout"
            android:exported="false" />
        <activity
            android:name=".Linear_Layout"
            android:exported="false" />
        <activity
            android:name=".Pratical_5"
            android:exported="false" />
        <activity
            android:name=".Pratical4"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>